{% load i18n %}
<div class="card mb-3">
  <div class="card-header">
    <strong>{% trans 'Confirmé' %}</strong><strong id="status-risk-{{ activiterisque.pk }}" class="confirm-risk ml-2"
                                                   data-check-url="{% url 'risk_register:ajax-statut-risque' pk=activiterisque.pk %}"
                                                   data-change-url="{% url 'risk_register:ajax-changer-statut-risque' pk=activiterisque.pk %}">
    {% csrf_token %}{% trans 'Inconnu' %}</strong>
    <a href="{% url 'risk_register:effacer_activiterisque' activiterisque=activiterisque.pk %}" class="fm-delete"
       data-fm-callback="reload"
       data-fm-head="{% trans 'Supprimer un risque' %}">
      <span data-feather="x" class="float-right text-danger ml-3"></span>
    </a>
    <a class="card-link float-right" data-toggle="collapse" href="#risk-{{ activiterisque.pk }}">
      <span data-feather="more-horizontal" class="text-info"></span>
    </a>
  </div>
  <div class="card-body">
    <a href="{% url 'risk_register:modifier_activiterisque' activiterisque=activiterisque.pk %}"
       class="fm-update card-title h6" data-fm-head="{% trans "Modifier un risque d'activité" %}"
       data-fm-callback="reload">
      {{ activiterisque.risque.nom }}: {{ activiterisque.risque.description|truncatechars:50 }}
    </a><br>
    <div class="row mt-2">
      <div class="col-md-3 col-sm-12">
        <span>{% trans 'Seuil de risque' %}</span>
        <br>
        <a href="{% url 'risk_register:definir_seuil_activiterisque' activiterisque=activiterisque.pk %}"
           class="text-info fm-create" data-fm-head="{% trans 'Définir le seuil de risque' %}"
           data-fm-callback="reload">
          <span data-feather="sliders" class="mr-2"></span>
        </a>
        <span
          class="{{ activiterisque.seuil_display }}">{{ activiterisque.seuil_de_risque|default_if_none:_('Non defini') }}</span>
      </div>
      <div class="col-md-3 col-sm-12">
        <span>{% trans 'Facteur risque' %}</span><br>
        <a href="{% url 'risk_register:estimer_activiterisque' activiterisque=activiterisque.pk %}"
           class="text-info fm-create" data-fm-head="{% trans 'Estimer le risque' %}" data-fm-callback="reload">
          <span data-feather="sliders" class="mr-2"></span>
        </a>
        <span
          class="{{ activiterisque.facteur_risque_display }}">{{ activiterisque.facteur_risque|default_if_none:_('Non defini') }}</span>
      </div>
      <div class="col-md-3 col-sm-12">
        <span>{% trans 'Statut du risque' %}</span><br>
        <span class="{{ activiterisque.status_display }}">
                  {% blocktrans with status=activiterisque.status|default_if_none:'Inconnu' %}
                    <span data-feather="thermometer" class="mr-2"></span>{{ status }}
                  {% endblocktrans %}
                </span>
      </div>
      <div class="col-md-3 col-sm-12">
        <span>{% trans 'Propriétaire' %}</span><br>
        {% if activiterisque.facteur_risque %}
          <a href="{% url 'risk_register:assigner-risque' risque=activiterisque.pk %}" class="text-info fm-update"
             data-fm-head="{% trans 'Assigner le risque à:' %}"
             data-fm-callback="reload">
            <span data-feather="user" class="mr-2"></span>
          </a>
        {% else %}
          <span data-feather="user" class="mr-2"></span>
        {% endif %}
        {{ activiterisque.get_proprietaire|default_if_none:_('Non assigné') }}
      </div>
    </div>
  </div>
  <div id="risk-{{ activiterisque.pk }}" class="collapse">
    <h5 class="ml-4">{% trans 'Contrôles' %}</h5>
    {% if activiterisque.controles.all %}
      {% for controle in activiterisque.controles.all %}
        <div class="card card-body ml-4 p-1 mb-1">
          <a href="#"
             class="h6 card-link ml-2">{{ controle.nom }}</a></li>
        </div>
      {% endfor %}
    {% else %}
      <p class="lead ml-4">{% trans 'Ce risque ne comporte aucun contrôle' %}</p>
    {% endif %}
    <div class="card card-body ml-4 mb-2 p-1 ">
      <a href="{% url 'risk_register:ajout_controle_activiterisque' activiterisque=activiterisque.pk %}"
         class="text-info card-link fm-create"
         data-fm-head="{% trans 'Ajouter un contrôle' %}" data-fm-callback="reload">
        <span data-feather="plus-circle"></span> {% trans 'Nouveau contrôle' %}
      </a>
    </div>
  </div>
</div>
