{% load i18n humanize %}
<div class="card m-4 mt-2 border-0">
  <div class="card-header">
    <a href="{% url 'risk_register:effacer_controle' controle=controle.pk %}" class="fm-delete"
       data-fm-callback="reload"
       data-fm-head="{% trans 'Supprimer un contrôle' %}">
      <i class="float-right text-danger ml-3 fa fa-times"></i>
    </a>
    <a class="card-link float-right text-info" data-toggle="collapse" href="#controle-{{ controle.pk }}">
      {% trans 'Détails' %} <i class="fa fa-ellipsis-h"></i>
    </a>
    <a href="{% url 'risk_register:modifier_controle' controle=controle.pk %}"
       class="fm-update card-title h5"
       data-fm-callback="reload"
       data-fm-head="{% trans 'Modifier un contrôle' %}">
      {{ controle.nom }}
    </a>
    <strong class="ml-2 nowrap">{% trans 'Cible' %}:
      <span class="text-capitalize text-primary">{{ controle.get_critere_cible_display }}</span>
    </strong>
    <a href="" class="approve ml-2" id="approve-link-{{ controle.pk }}"
       data-check-url="{% url 'risk_register:ajax-get-controle-approuve' pk=controle.pk %}"
       data-change-url="{% url 'risk_register:ajax-approuver-controle' pk=controle.pk %}" data-toggle="tooltip"
       data-placement="right">
      {% csrf_token %}
    </a>
    {% if controle.status == 'completed' %}
          <a href="" class="validate ml-2" id="validate-link-{{ controle.pk }}"
             data-check-url="{% url 'risk_register:ajax-get-controle-valide' pk=controle.pk %}"
             data-change-url="{% url 'risk_register:ajax-validate-controle' pk=controle.pk %}">
            {% csrf_token %}
            {% trans 'Valider' %}
          </a>
        {% endif %}

    <div style="font-size: 90%">
      <span
        class="text-muted">{% trans 'Ajouté' %} {{ controle.created | naturaltime }} {% trans 'par' %} {{ controle.cree_par }}</span>;
      {% if controle.modifie_par %}
        <span
          class="text-muted"> {% trans 'Modifié' %} {{ controle.modified | naturaltime }} {% trans 'par' %} {{ controle.modifie_par }}</span>
        <br>
      {% endif %}
    </div>

  </div>
  <div id="controle-{{ controle.pk }}" class="collapse">
    <div class="card-body">

      <p class="text-justify">{{ controle.description | default_if_none:'' | truncatewords:25 }}</p>

      <div class="row">
        <div class="col-md-3">
          <h6 class="mb-0">{% trans 'Debut' %}:</h6>
          <span class="text-muted">{{ controle.start | naturalday }}</span>
        </div>
        <div class="col-md-3">
          <h6 class="mb-0">{% trans 'Fin' %}:</h6>
          <span class="{{ controle.status_display }}">{{ controle.end | naturalday }}</span>
        </div>
        {% if controle.est_approuve and controle.status == 'completed'%}
          <div class="col-md-3">
            <h6 class="mb-0">{% trans 'Statut' %}:</h6>
            <span class="{{ controle.status_display }} controle-status"
                  id="status-{{ controle.pk }}"
                  data-check-url="{% url 'risk_register:ajax-status-controle' pk=controle.pk %}"
                  data-change-url="{% url 'risk_register:ajax-changer-statut-controle' pk=controle.pk %}">
          {% csrf_token %}
        </span>
          </div>
        {% endif %}
        <div class="col-md-3">
          <h6 class="mb-0">{% trans 'Propriétaire' %}</h6>
          <a href="{% url 'risk_register:assigner_controle' controle=controle.pk %}"
             class="fm-update"
             data-fm-callback="reload"
             data-fm-head="{% trans 'Assigner un contrôle' %}">
            {% if controle.assigne_a %}
              <span class="text-muted">{{ controle.assigne_a }}</span>
            {% else %}
              {% trans 'Assigner' %}
            {% endif %}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
