{% extends 'risk_register/base.html' %}
{% load i18n humanize rules %}


{% block title %}
  {{ bu.denomination }}: {% trans 'Registre des risques' %}
{% endblock %}

{% block content %}
  {% block header %}
    {% include 'risk_register/bu_header.html' %}
  {% endblock %}
  {#  onglets#}
  <ul class="nav nav-tabs nav-justified">
    <li class="nav-item">
      <a href="#processus" class="nav-link active" role="tab" data-toggle="tab">{% trans 'Liste des processus' %}</a>
    </li>
    <li class="nav-item">
      <a href="#risquesprocessus" class="nav-link" role="tab" data-toggle="tab">{% trans 'Risques des processus' %}</a>
    </li>
    <li class="nav-item">
      <a href="#risquesactivites" class="nav-link" role="tab" data-toggle="tab">{% trans 'Risques des activités' %}</a>
    </li>
  </ul>

  {# contenu #}
  {% block data %}
    <div class="tab-content">
      <div role=" tabpanel" class="tab-pane active mt-3" id="processus">
        <div class="container">
          {% for processus in bu.processus_set.all %}
          {% include 'risk_register/process_card.html' %}
        {% empty %}
          <h5>{% trans 'Ce Business unite ne comporte aucun processus pour le moment' %}</h5>
        {% endfor %}
        {% has_perm 'users.add_process_to_bu' user bu as can_add_process %}
        {% if can_add_process %}
          <div class="card card-header border-0 mt-2" id="create">
            <a href="{% url 'risk_register:creer_processus' business_unit=bu.denomination %}"
               class="fm-create
               text-info card-link"
               data-fm-head="{% trans 'Nouveau Processus' %}" data-fm-callback="insertProcess" data-fm-target="#create">
              <i class="fa fa-plus"></i> {% trans 'Nouveau processus' %}
            </a>
        </div>
        {% endif %}

        </div>
      </div>
      <div role="tabpanel" class="tab-pane mt-3" id="risquesprocessus" >
        <div class="table-responsive ">
          <table class="table table-hover table-sm text-center table-sortable" id="processusRisqueTable">
            <thead>
            <tr>
              <th class="ajoute">{% trans 'Ajouté' %}</th>
              <th>{% trans 'Processus' %}</th>
              <th>{% trans 'Type' %}</th>
              <th>{% trans 'Vérification' %}</th>
              <th>{% trans 'Seuil de risque' %}</th>
              <th>{% trans 'Facteur risque' %}</th>
              <th>{% trans 'Statut du risque' %}</th>
              <th>{% trans 'Propriétaire' %}</th>
              <th class="date-revue">{% trans 'Date de revue' %}</th>
            </tr>
            </thead>
            <tbody>
            {% for processusrisque in processusrisques %}
              {% has_perm 'risk_register.set_seuil_process_risk' user processusrisque as can_set_seuil %}
              {% has_perm 'risk_register.estimate_process_risk' user processusrisque as can_estimate %}
              {% has_perm 'risk_register.assign_process_risk' user processusrisque as can_assign %}
              {% has_perm 'risk_register.set_review_date_process_risk' user processusrisque as can_set_review_date %}
              <tr>
                <td>
                  <a href="{% url 'risk_register:detail_processusrisque' pk=processusrisque.pk %}" class="fm-detail"
                     data-fm-head="{{ processusrisque.risque.nom }}"
                     data-toggle="tooltip" data-placement="top" title="{% trans 'Détails du risque' %}">
                    {{ processusrisque.created|naturaltime }}
                  </a>
                </td>
                <td>
                  <a href="{% url 'risk_register:detail_processus' pk=processusrisque.processus.pk %}"
                     data-toggle="tooltip" data-placement="top" title="{% trans 'Détails du processus' %}">
                    {{ processusrisque.processus }}
                  </a>
                </td>
                <td>{{ processusrisque.get_type_de_risque_display }}</td>
                <td>
                  {% if processusrisque.verifie == 'verified' %}
                    {{ processusrisque.get_verifie_display }}<i class="text-success fa fa-check"></i>
                  {% else %}
                    <span class="text-danger">{{ processusrisque.get_verifie_display }}</span>
                  {% endif %}
                </td>
                <td>
                  {% if can_set_seuil %}
                  <a href="{% url 'risk_register:definir_seuil_processusrisque' processusrisque=processusrisque.pk %}"
                     class="fm-update" data-fm-head="{% trans 'Définir le seuil de risque' %}" data-fm-callback="reload"
                     data-toggle="tooltip" data-placement="top" title="{% trans 'Définir le seuil de risque' %}">
                  {% endif %}

                    <span class="{{ processusrisque.seuil_display }}">{{ processusrisque.seuil_de_risque|default_if_none:_('Non defini') }}</span>
                {% if can_set_seuil %}
                  </a>
                {% endif %}
                </td>
                <td>
                  {% if can_estimate %}
                    <a href="{% url 'risk_register:estimer_processusrisque' processusrisque=processusrisque.pk %}"
                     class="fm-update" data-fm-head="{% trans 'Estimer le risque' %}" data-fm-callback="reload"
                     data-toggle="tooltip" data-placement="top" title="{% trans 'Estimer le risque' %}">
                  {% endif %}
                    <span
                      class="{{ processusrisque.facteur_risque_display }}">{{ processusrisque.facteur_risque|default_if_none:_('Non estimé') }}</span>
                 {% if can_estimate %}
                     </a>
                 {% endif %}
                </td>
                <td class="{{ processusrisque.status_display }}">
                  {% blocktrans with status=processusrisque.status|default_if_none:_('inconnu') %}
                    {{ status }}
                  {% endblocktrans %}
                </td>
                <td>
                  {% if can_assign %}
                    <a href="{% url 'risk_register:assigner-processusrisque' processusrisque=processusrisque.pk %}"
                     class="fm-update" data-fm-head="{% trans 'Assigner le risque' %}" data-fm-callback="reload"
                     data-toggle="tooltip" data-placement="top" title="{% trans 'Assigner' %}">
                  {% endif %}
                    {{ processusrisque.proprietaire|default_if_none:_('Non assigné') }}
                  {% if can_assign %}
                    </a>
                  {% endif %}
                </td>
                <td>
                  {% if can_set_review_date  %}
                  <a href="{% url 'risk_register:revue-processusrisque' processusrisque=processusrisque.pk %}"
                     class="fm-update" data-fm-head="{% trans 'Date de revue du risque' %}" data-fm-callback="reload"
                     data-toggle="tooltip" data-placement="top" title="{% trans 'Changer' %}">
                  {% endif %}
                    {% if processusrisque.est_obsolete %}
                      <span class="text-danger">{% trans passée %} {{ processusrisque.date_revue|naturaltime }}</span>
                    {% else %}
                      {% if processusrisque.date_revue %}
                        <span class="text-info">
                        {{ processusrisque.date_revue|naturaltime }}
                        </span>
                      {% else %}
                        <span class="text-danger">????</span>
                      {% endif %}

                    {% endif %}
                 {% if can_set_review_date %}
                     </a>
                 {% endif %}
                </td>
              </tr>
            {% empty %}
              <tr>
                <td colspan="10"><h5>{% trans 'Aucun risque identifié pour les processus de ce Business Unit' %}</h5>
                </td>
              </tr>
            {% endfor %}
            </tbody>

          </table>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane mt-3" id="risquesactivites">
        <div class="table-responsive">
          <table class="table table-hover table-sm text-center table-sortable" id="activiteRisqueTable">
            <thead>
            <tr>
              <th class="ajoute">{% trans 'Ajouté' %}</th>
              <th>{% trans 'Activités' %}</th>
              <th>{% trans 'Type' %}</th>
              <th>{% trans 'Vérification' %}</th>
              <th>{% trans 'Seuil de risque' %}</th>
              <th>{% trans 'Facteur risque' %}</th>
              <th>{% trans 'Statut du risque' %}</th>
              <th>{% trans 'Propriétaire' %}</th>
              <th class="date-revue">{% trans 'Date de revue' %}</th>
            </tr>
            </thead>
            <tbody>
            {% for activiterisque in activiterisques %}
                  {% has_perm 'risk_register.set_seuil_activity_risk' user activiterisque as can_set_seuil1 %}
                  {% has_perm 'risk_register.estimate_activity_risk' user activiterisque as can_estimate1 %}
                  {% has_perm 'risk_register.assign_activity_risk' user activiterisque as can_assign1 %}
                  {% has_perm 'risk_register.set_review_date_activity_risk' user activiterisque as can_set_review_date1 %}
              <tr>
                <td>
                  <a href="{% url 'risk_register:detail_activiterisque' pk=activiterisque.pk %}" class="fm-detail"
                     data-fm-head="{{ activiterisque.risque.nom }}"
                     data-toggle="tooltip" data-placement="top" title="{% trans 'Détails du risque' %}">
                    {{ activiterisque.created|naturaltime }}
                  </a>
                </td>
                <td>
                  <a href="{% url 'risk_register:detail_activite' pk=activiterisque.activite.pk %}">
                    {{ activiterisque.activite.nom }}
                  </a>
                </td>
                <td>{{ activiterisque.get_type_de_risque_display }}</td>
                <td>
                  {% if activiterisque.verifie == 'verified' %}
                    {{ activiterisque.get_verifie_display }} <span class="text-success fa fa-check"></span>
                  {% else %}
                    <span class="text-danger">{{ activiterisque.get_verifie_display }}</span>
                  {% endif %}
                </td>
                <td>
                  {% if can_set_seuil1 %}
                    <a href="{% url 'risk_register:definir_seuil_activiterisque' activiterisque=activiterisque.pk %}"
                     class="fm-update" data-fm-head="{% trans 'Définir le seuil de risque' %}" data-fm-callback="reload"
                     data-toggle="tooltip" data-placement="top" title="{% trans 'Définir le seuil de risque' %}">
                  {% endif %}
                    <span class="{{ activiterisque.seuil_display }}">{{ activiterisque.seuil_de_risque|default_if_none:_('Non defini') }}</span>
                  {% if can_set_seuil1 %}
                    </a>
                  {% endif %}
                </td>
                <td>
                  {% if can_estimate1 %}
                    <a href="{% url 'risk_register:estimer_activiterisque' activiterisque=activiterisque.pk %}"
                     class="fm-update" data-fm-head="{% trans 'Estimer le risque' %}" data-fm-callback="reload"
                     data-toggle="tooltip" data-placement="top" title="{% trans 'Estimer le risque' %}">
                  {% endif %}
                    <span class="{{ activiterisque.facteur_risque_display }}">{{ activiterisque.facteur_risque|default_if_none:_('Non estime') }}</span>
                  {% if can_estimate1 %}
                    </a>
                  {% endif %}
                </td>
                <td class="{{ activiterisque.status_display }}">
                  {% blocktrans with status=activiterisque.status|default_if_none:_('inconnu') %}
                    {{ status }}
                  {% endblocktrans %}
                </td>
                <td>
                  {% if can_assign1 %}
                    <a href="{% url 'risk_register:assigner-activiterisque' activiterisque=activiterisque.pk %}"
                     class="fm-update" data-fm-head="{% trans 'Assigner le risque' %}" data-fm-callback="reload"
                     data-toggle="tooltip" data-placement="top" title="{% trans 'Assigner' %}">
                  {% endif %}
                    {{ activiterisque.proprietaire|default_if_none:_('Non assigné') }}
                  {% if can_assign1 %}
                    </a>
                  {% endif %}
                </td>
                <td>
                  {% if can_set_review_date1 %}
                  <a href="{% url 'risk_register:revue-activiterisque' activiterisque=activiterisque.pk %}"
                     class="fm-update" data-fm-head="{% trans 'Date de revue du risque' %}" data-fm-callback="reload"
                     data-toggle="tooltip" data-placement="top" title="{% trans 'Changer' %}">
                  {% endif %}
                    {% if activiterisque.est_obsolete %}
                      <span class="text-danger">{% trans 'passée' %} {{ activiterisque.date_revue| naturaltime }}</span>
                    {% else %}
                      {% if activiterisque.date_revue %}
                        <span class="text-success">{{ activiterisque.date_revue|naturaltime }}</span>
                      {% else %}
                        <span class="text-danger">????</span>
                      {% endif %}
                    {% endif %}
                  {% if can_set_review_date1 %}
                    </a>
                  {% endif %}
                </td>
              </tr>
            {% empty %}
              <tr>
                <td colspan="10"><h5>{% trans 'Aucun risque identifié pour les activités de ce Business Unit' %}</h5>
                </td>
              </tr>
            {% endfor %}
            </tbody>

          </table>
        </div>
      </div>
    </div>
  {% endblock %}
{% endblock %}
