{% extends 'risk_register/base.html' %}
{% load i18n humanize static %}

{% block title %}
  {% blocktrans with nom=processus.nom %}
    Registre des risques du processus {{ nom }}
  {% endblocktrans %}
{% endblock %}
{% block content %}
  {% block header %}
    {% include 'risk_register/process_header.html' %}
  {% endblock %}
  <ul class="nav nav-tabs nav-justified">
    <li class="nav-item">
      <a href="#risquesprocessus" class="nav-link active" role="tab"
         data-toggle="tab">{% trans 'Risques du processus' %}</a>
    </li>
    <li class="nav-item">
      <a href="#activites" class="nav-link" role="tab" data-toggle="tab">{% trans 'Liste des activités' %}</a>
    </li>
    <li class="nav-item">
      <a href="#activiterisques" class="nav-link" role="tab" data-toggle="tab">{% trans 'Risques des activités' %}</a>
    </li>
    <li class="nav-item">
      <a href="#inputOutput" class="nav-link" role="tab"
         data-toggle="tab">{% trans "Données d'entrée et de sortie" %}</a>
    </li>
  </ul>

  {% block data %}
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane mt-3" id="activites">
        {% for activite in processus.activites.all %}
          <div class="card mb-2">
            <div class="card-body">
              <a href="" class="card-link float-right"><span data-feather="settings" class="text-info"></span></a>
              <a href="{% url 'risk_register:detail_activite' pk=activite.code_activite %}"
                 class="h6 card-title">{{ activite.nom }}: {{ activite.description|truncatechars:50 }}</a>
              <div class="row mt-2">
                <div class="col-md-3">
                  <a href="">{% trans 'Propriétaire' %}</a><br>
                  <span>{{ activite.responsable }}</span>
                </div>
                <div class="col-md-3">
                  <a href="">{% trans 'Statut' %}</a><br>
                  <span>{{ activite.get_status_display }}</span>
                </div>
              </div>
            </div>
          </div>
        {% empty %}
          <p class="lead ml-2">{% trans 'Ce processus ne comporte aucune activité' %}</p>
        {% endfor %}
        <div class="card card-body mt-4 p-1 border-0" id="create-activity-2">
          <a href="{% url 'risk_register:creer_activite' processus=processus.pk %}"
             class="text-info card-link fm-create"
             data-fm-head="{% trans 'Nouvelle activité' %}" data-fm-callback="insertProcess" data-fm-target="#">
            <span data-feather="plus-circle"></span> {% trans 'Nouvelle activité' %}
          </a>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane mt-3 active" id="risquesprocessus">
        {% for processusrisque in processusrisques %}
          {% include 'risk_register/processusrisque_card.html' %}
        {% empty %}
          <h5>{% trans 'Aucun risque identifié pour de ce processus' %}</h5>
        {% endfor %}
        <div class="card card-body mt-4 p-1 border-0" id="create-processusrisque">
          <a href="{% url 'risk_register:ajout_processusrisque' processus=processus.pk %}"
             class="text-info card-link fm-create" data-fm-head="{% trans 'Identification du risque' %}"
             data-fm-callback="reload">
            <span data-feather="plus-circle"></span> {% trans 'Nouveau risque' %}
          </a>
        </div>

      </div>
      <div role="tabpanel" class="tab-pane mt-3" id="activiterisques">
        <div class="table-responsive">
          <table class="table table-striped table-sm" id="activiteRisqueTable">
            <thead>
            <tr>
              <th>{% trans 'Ajouté' %}</th>
              <th>{% trans 'Activités' %}</th>
              <th>{% trans 'Risque' %}</th>
              <th>{% trans 'Ajouté par' %}</th>
              <th>{% trans 'Vérification' %}</th>
              <th>{% trans 'Seuil de risque' %}</th>
              <th>{% trans 'Facteur risque' %}</th>
              <th>{% trans 'Statut du risque' %}</th>
              <th>{% trans 'Propriétaire' %}</th>
              <th>{% trans 'Date de revue' %}</th>
            </tr>
            </thead>
            <tbody>
            {% if activiterisques %}
              {% for activiterisque in activiterisques %}
                <tr>
                  <td>{{ activiterisque.created|naturaltime }}</td>
                  <td>{{ activiterisque.activite }}</td>
                  <td>{{ activiterisque.risque.nom }}</td>
                  <td>{{ activiterisque.soumis_par }}</td>
                  <td>
                    {% if activiterisque.verifie == 'verified' %}
                      {{ activiterisque.get_verifie_display }} <span data-feather="check" class="text-success"></span>
                    {% else %}
                      <span class="text-danger">{{ activiterisque.get_verifie_display }}</span>
                    {% endif %}
                  </td>
                  <td
                    class="{{ activiterisque.seuil_display }}">{{ activiterisque.seuil_de_risque|default_if_none:_('Non defini') }}</td>
                  <td
                    class="{{ activiterisque.facteur_risque_display }}">{{ activiterisque.facteur_risque|default_if_none:_('Non estime') }}</td>
                  <td class="{{ activiterisque.status_display }}">
                    {% blocktrans with status=activiterisque.status|default_if_none:_('inconnu') %}
                      {{ status }}
                    {% endblocktrans %}
                  </td>
                  <td><a href="#">{{ activiterisque.get_proprietaire|default_if_none:_('Non assigné') }}</a></td>
                  {# TODO: ajouter l'url#}
                  <td>
                    {% if activiterisque.est_obsolete %}
                      <span class="text-danger">{% trans 'passée' %} {{ activiterisque.date_revue| naturaltime }}</span>
                    {% else %}
                      {% if activiterisque.date_revue %}
                        <span class="text-success">{{ activiterisque.date_revue|naturaltime }}</span>
                      {% else %}
                        <span class="text-danger">????</span>
                      {% endif %}
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
            {% else %}
              <tr>
                <td class="bg-white" colspan="10">
                  <h5>{% trans 'Aucun risque identifié pour les activités de ce processus' %}</h5>
                </td>
              </tr>
            {% endif %}
            </tbody>

          </table>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane mt-3" id="inputOutput">
        <div class="row">
          <div class="col">
            <table class="table table-sm">
              <thead class="thead-light">
              <tr>
                <th>{% trans "Données d'entrée" %}</th>
                <th>{% trans "Fournisseurs" %}</th>
              </tr>
              </thead>
              <tbody id="inputData">
              {% for processdata in processus.input_data.all %}
                {% include 'risk_register/processInputData_row.html' %}
              {% empty %}
                <tr>
                  <td colspan="2">{% trans "Aucune donnée d'entrée" %}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
            <a href="{% url 'risk_register:ajout_entree' processus=processus.pk %}" class="fm-update text-info"
               data-fm-head="{% trans "Ajouteer une donnée d'entrée" %}"
               data-fm-callback="reload">
              <span data-feather="plus"></span>{% trans 'Ajouter' %}
            </a>
          </div>
          <div class="col">
            <table class="table table-sm">
              <thead class="thead-light">
              <tr>
                <th>{% trans "Données de sortie" %}</th>
                <th>{% trans "Clients" %}</th>
              </tr>
              </thead>
              <tbody id="outputData">
              {% for dataprocess in processus.ouput_data.all %}
                {% include 'risk_register/processOutputData_row.html' %}
              {% empty %}
                <tr>
                  <td colspan="2">{% trans "Aucune donnée de sortie" %}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
            <a href="{% url 'risk_register:ajout_sortie' processus=processus.pk %}" class="fm-create text-info"
               data-fm-head="{% trans 'Ajouter une donnée de sortie' %}"
               data-fm-callback="append" data-fm-target="#outputData">
              <span data-feather="plus"></span>{% trans 'Ajouter' %}
            </a>
          </div>
        </div>
      </div>
    </div>
  {% endblock %}
{% endblock %}


