{% extends 'risk_register/base.html' %}
{% load i18n humanize static %}
{% block title %}
  {{ activite.nom }}: {% trans 'Registre des risques' %}
{% endblock %}

{% block content %}
  {% block header %}
    {% include 'risk_register/activite_header.html' %}
  {% endblock %}
  {% block data %}

      {% for activiterisque in activiterisques.all %}
        {% include 'risk_register/activiterisque_card.html' %}
      {% empty %}
        <h6>{% trans 'Aucun risque identifié pour cette activité' %}</h6>
      {% endfor %}
    <div id="create">
          <a href="{% url 'risk_register:ajout_activiterisque' activite=activite.pk %}" class="fm-create text-info card-link"
             data-fm-head="{% trans "Nouveau risque d'activité"  %}" data-fm-callback="reload">
            <span data-feather="plus-circle"></span> {% trans 'Ajouter un risque' %}
          </a>
        </div>
  {% endblock %}
{% endblock %}

