{% extends 'risk_register/base.html' %}
{% load i18n humanize static rules %}


{% block title %}
  {% blocktrans with nom=processus.nom %}
    Registre des risques du processus {{ nom }}
  {% endblocktrans %}
{% endblock %}
{% block content %}
  {% block header %}
    {% include 'risk_register/process_header.html' %}
  {% endblock %}
  <ul class="nav nav-tabs nav-justified">
    <li class="nav-item">
      <a href="#risquesprocessus" class="nav-link active" role="tab"
         data-toggle="tab">{% trans 'Risques du processus' %}</a>
    </li>
    <li class="nav-item">
      <a href="#activites" class="nav-link" role="tab" data-toggle="tab">{% trans 'Liste des activités' %}</a>
    </li>
    <li class="nav-item">
      <a href="#activiterisques" class="nav-link" role="tab" data-toggle="tab">{% trans 'Risques des activités' %}</a>
    </li>
    <li class="nav-item">
      <a href="#inputOutput" class="nav-link" role="tab"
         data-toggle="tab">{% trans "Données d'entrée et de sortie" %}</a>
    </li>
  </ul>

  {% block data %}
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane mt-3" id="activites">
        {% for activite in processus.activites.all %}
          <div class="card mb-2">
            <div class="card-body">
              <a href="" class="card-link float-right"><i class="text-info fa fa-cogs"></i></a>
              <a href="{% url 'risk_register:detail_activite' pk=activite.code_activite %}"
                 class="h6 card-title">{{ activite.nom }}: {{ activite.description|truncatechars:50 }}</a>
              <div class="row mt-2">
                <div class="col-md-3">
                  <a href="">{% trans 'Propriétaire' %}</a><br>
                  <span>{{ activite.responsable }}</span>
                </div>
                <div class="col-md-3">
                  <a href="">{% trans 'Statut' %}</a><br>
                  <span>{{ activite.get_status_display }}</span>
                </div>
              </div>
            </div>
          </div>
        {% empty %}
          <p class="lead ml-2">{% trans 'Ce processus ne comporte aucune activité' %}</p>
        {% endfor %}
        {% has_perm 'add_activity_to_process' user processus as can_add_activity %}
        {% if can_add_activity %}
          <div class="mt-4 p-1 mb-5" id="create-activity-2">
            <a href="{% url 'risk_register:creer_activite' processus=processus.pk %}"
               class="text-info card-link fm-create"
               data-fm-head="{% trans 'Nouvelle activité' %}" data-fm-callback="insertProcess" data-fm-target="#">
              <i class="fa fa-plus"></i> {% trans 'Nouvelle activité' %}
            </a>
          </div>
        {% endif %}
      </div>
      <div role="tabpanel" class="tab-pane mt-3 active" id="risquesprocessus">
        {% for processusrisque in processusrisques %}
          {% include 'risk_register/processusrisque_card.html' %}
        {% empty %}
          <h5>{% trans 'Aucun risque identifié pour de ce processus' %}</h5>
        {% endfor %}
        {% has_perm 'risk_register.add_process_risk' user as can_add_risks %}
        {% if can_add_risks %}
          <div class="mt-4 mb-5 p-1" id="create-processusrisque">
            <a href="{% url 'risk_register:ajout_processusrisque' processus=processus.pk %}"
               class="text-info card-link fm-create" data-fm-head="{% trans 'Identification du risque' %}"
               data-fm-callback="reload">
              <i class="fa fa-plus"></i> {% trans 'Nouveau risque' %}
            </a>
          </div>
        {% endif %}

      </div>
      <div role="tabpanel" class="tab-pane mt-3" id="activiterisques">
        <div class="table-responsive">
          <table class="table table-hover table-sm text-center table-sortable" id="activiteRisqueTable">
            <thead>
            <tr>
              <th class="ajoute">{% trans 'Ajouté' %}</th>
              <th>{% trans 'Activités' %}</th>
              <th>{% trans 'Type' %}</th>
              <th>{% trans 'Vérification' %}</th>
              <th>{% trans 'Seuil de risque' %}</th>
              <th>{% trans 'Facteur risque' %}</th>
              <th>{% trans 'Statut du risque' %}</th>
              <th>{% trans 'Propriétaire' %}</th>
              <th class="date-revue">{% trans 'Date de revue' %}</th>
            </tr>
            </thead>
            <tbody>
            {% for activiterisque in activiterisques %}
              {% has_perm 'risk_register.set_seuil_activity_risk' user activiterisque as can_set_seuil_ar %}
              {% has_perm 'risk_register.estimate_activity_risk' user activiterisque as can_estimate_ar %}
              {% has_perm 'risk_register.assign_activity_risk' user activiterisque as can_assign_ar %}
              {% has_perm 'risk_register.set_review_date_activity_risk' user activiterisque as can_set_review_date_ar %}
              <tr>
                <td style="min-width: 140px;">
                  <a href="{% url 'risk_register:detail_activiterisque' pk=activiterisque.pk %}" class="fm-detail"
                     data-fm-head="{{ activiterisque.risque.nom }}"
                     data-toggle="tooltip" data-placement="top" title="{% trans 'Détails du risque' %}">
                    {{ activiterisque.created|naturaltime }}
                  </a>
                </td>
                <td>
                  <a href="{% url 'risk_register:detail_activite' pk=activiterisque.activite.pk %}">
                    {{ activiterisque.activite.nom }}
                  </a>
                </td>
                <td>{{ activiterisque.get_type_de_risque_display }}</td>
                <td>
                  {% if activiterisque.verifie == 'verified' %}
                    {{ activiterisque.get_verifie_display }} <span class="text-success fa fa-check"></span>
                  {% else %}
                    <span class="text-danger">{{ activiterisque.get_verifie_display }}</span>
                  {% endif %}
                </td>
                <td>
                  {% if can_set_seuil_ar %}
                    <a href="{% url 'risk_register:definir_seuil_activiterisque' activiterisque=activiterisque.pk %}"
                       class="fm-update" data-fm-head="{% trans 'Définir le seuil de risque' %}"
                       data-fm-callback="reload"
                       data-toggle="tooltip" data-placement="top" title="{% trans 'Définir le seuil de risque' %}">
                  {% endif %}
                  <span
                    class="{{ activiterisque.seuil_display }}">{{ activiterisque.seuil_de_risque|default_if_none:_('Non defini') }}</span>
                  {% if can_set_seuil_ar %}
                    </a>
                  {% endif %}
                </td>
                <td>
                  {% if can_estimate_ar %}
                    <a href="{% url 'risk_register:estimer_activiterisque' activiterisque=activiterisque.pk %}"
                     class="fm-update" data-fm-head="{% trans 'Estimer le risque' %}" data-fm-callback="reload"
                     data-toggle="tooltip" data-placement="top" title="{% trans 'Estimer le risque' %}">
                  {% endif %}
                    <span class="{{ activiterisque.facteur_risque_display }}">{{ activiterisque.facteur_risque|default_if_none:_('Non estime') }}</span>
                  {% if can_estimate_ar %}
                    </a>
                  {% endif %}
                </td>
                <td class="{{ activiterisque.status_display }}">
                  {% blocktrans with status=activiterisque.status|default_if_none:_('inconnu') %}
                    {{ status }}
                  {% endblocktrans %}
                </td>
                <td>
                  {% if can_assign_ar %}
                    <a href="{% url 'risk_register:assigner-activiterisque' activiterisque=activiterisque.pk %}"
                     class="fm-update" data-fm-head="{% trans 'Assigner le risque' %}" data-fm-callback="reload"
                     data-toggle="tooltip" data-placement="top" title="{% trans 'Assigner' %}">
                  {% endif %}
                    {{ activiterisque.proprietaire|default_if_none:_('Non assigné') }}
                  {% if can_assign_ar %}
                    </a>
                  {% endif %}
                </td>
                <td style="min-width: 140px;">
                  {% if can_set_review_date_ar %}
                    <a href="{% url 'risk_register:revue-activiterisque' activiterisque=activiterisque.pk %}"
                     class="fm-update" data-fm-head="{% trans 'Date de revue du risque' %}" data-fm-callback="reload"
                     data-toggle="tooltip" data-placement="top" title="{% trans 'Changer' %}">
                  {% endif %}
                    {% if activiterisque.est_obsolete %}
                      <span class="text-danger">{% trans 'passée' %} {{ activiterisque.date_revue| naturaltime }}</span>
                    {% else %}
                      {% if activiterisque.date_revue %}
                        <span class="text-success">{{ activiterisque.date_revue|naturaltime }}</span>
                      {% else %}
                        <span class="text-danger">????</span>
                      {% endif %}
                    {% endif %}
                  {% if can_set_review_date_ar %}
                    </a>
                  {% endif %}
                </td>
              </tr>
            {% empty %}
              <tr>
                <td class="bg-white" colspan="10">
                  <h5>{% trans 'Aucun risque identifié pour les activités de ce processus' %}</h5>
                </td>
              </tr>
            {% endfor %}
            </tbody>

          </table>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane mt-3" id="inputOutput">
        <div class="row">
          <div class="col">
            <table class="table table-sm">
              <thead class="thead-light">
              <tr>
                <th>{% trans "Données d'entrée" %}</th>
                <th>{% trans "Fournisseurs" %}</th>
              </tr>
              </thead>
              <tbody id="inputData">
              {% for processdata in processus.input_data.all %}
                {% include 'risk_register/processInputData_row.html' %}
              {% empty %}
                <tr>
                  <td colspan="2">{% trans "Aucune donnée d'entrée" %}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
            {% has_perm 'risk_register.add_process_data' user processus as can_add_data %}
            {% if can_add_data %}
              <a href="{% url 'risk_register:ajout_entree' processus=processus.pk %}" class="fm-update text-info"
               data-fm-head="{% trans "Ajouteer une donnée d'entrée" %}"
               data-fm-callback="reload">
              <i class="fa fa-plus mr-2"></i>{% trans 'Ajouter' %}
            </a>
            {% endif %}
          </div>
          <div class="col">
            <table class="table table-sm">
              <thead class="thead-light">
              <tr>
                <th>{% trans "Données de sortie" %}</th>
                <th>{% trans "Clients" %}</th>
              </tr>
              </thead>
              <tbody id="outputData">
              {% for dataprocess in processus.ouput_data.all %}
                {% include 'risk_register/processOutputData_row.html' %}
              {% empty %}
                <tr>
                  <td colspan="2">{% trans "Aucune donnée de sortie" %}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
            {% if can_add_data %}
              <a href="{% url 'risk_register:ajout_sortie' processus=processus.pk %}" class="fm-create text-info"
               data-fm-head="{% trans 'Ajouter une donnée de sortie' %}"
               data-fm-callback="append" data-fm-target="#outputData">
              <i class="fa fa-plus mr-2"></i>{% trans 'Ajouter' %}
            </a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  {% endblock %}
{% endblock %}


