{% load i18n humanize %}
{% block content %}
  {% block data %}
    <p>
      {{ risque_identif.risque.description }}
      <a href="{% url 'risk_register:modifier_risque' pk=risque_identif.risque.pk %}"
         class="ml-2 fm-update" data-fm-head="{% trans 'Modifier un risque' %}" data-fm-callback="reload">
        {% trans 'modifier' %} <i class="fa fa-edit"></i>
      </a>
    </p>
    <p class="mb-0">
    {% if risque_identif.get_class == 'ActiviteRisque' %}
      <a href="{% url 'risk_register:detail_activite' pk=risque_identif.activite.pk %}">
        <span class="text-muted">{% trans 'Activité:' %} {{ risque_identif.activite }}</span>
      </a>
    {% elif risque_identif.get_class == 'ProcessusRisque' %}
      <a href="{% url 'risk_register:detail_processus' pk=risque_identif.processus.pk %}">
      <span class="text-muted">{% trans 'Processus:' %} {{ risque_identif.processus }}</span>
      </a>
    {% endif %}
    </p>
    <p class="text-muted mb-0">
      {% trans 'Ajouté' %} {{ risque_identif.created|naturaltime }} {% trans 'par' %} {{ risque_identif.soumis_par }}.
    </p>
    <p class="text-muted">
      {% trans 'Type de risque' %}: {{ risque_identif.get_type_de_risque_display|upper }}
     <a href="
              {% if risque_identif.get_class == 'ProcessusRisque' %}
                {% url 'risk_register:modifier_processusrisque' processusrisque=risque_identif.pk %}
              {% elif risque_identif.get_class == 'ActiviteRisque' %}
                 {% url 'risk_register:modifier_activiterisque' activiterisque=risque_identif.pk %}
              {% endif %}"
       class="ml-2 fm-update" data-fm-head="{% trans 'Modifier un risque' %}" data-fm-callback="reload">
      {% trans 'modifier' %} <i class="fa fa-edit"></i>
    </a>
    </p>

    <dl class="row">
      <dt class="col-sm-4">{% trans 'Cause(s)' %}</dt>
      <dd class="col-sm-8 text-justify">{{ risque_identif.risque.cause }}</dd>
      <dt class="col-sm-4">{% trans 'Conséquence(s)' %}</dt>
      <dd class="col-sm-8 text-justify">{{ risque_identif.risque.consequence }}</dd>
    </dl>
  {% endblock %}
{% endblock %}
