{% extends 'risk_register/base.html' %}
{% load i18n humanize rules %}

{% has_perm 'users.add_process_to_bu' user bu as can_add_process %}

{% block title %}
  {{ bu.denomination }}: {% trans 'Registre des risques' %}
{% endblock %}

{% block content %}
  {% block header %}
    {% include 'risk_register/bu_header.html' %}
  {% endblock %}
  {#  onglets#}
  <ul class="nav nav-tabs nav-justified">
    <li class="nav-item">
      <a href="#processus" class="nav-link active" role="tab" data-toggle="tab">{% trans 'Liste des processus' %}</a>
    </li>
    <li class="nav-item">
      <a href="#risquesprocessus" class="nav-link" role="tab" data-toggle="tab">{% trans 'Risques des processus' %}</a>
    </li>
    <li class="nav-item">
      <a href="#risquesactivites" class="nav-link" role="tab" data-toggle="tab">{% trans 'Risques des activités' %}</a>
    </li>
  </ul>

  {# contenu #}
  {% block data %}
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active mt-3" id="processus">
        {% for processus in bu.processus_set.all %}
          {% include 'risk_register/process_card.html' %}
        {% empty %}
          <h5>{% trans 'Ce Business unite ne comporte aucun processus pour le moment' %}</h5>
        {% endfor %}
        <div class="card card-header border-0 mt-3" id="create">
          {% has_perm 'users.add_process_to_bu' user bu as can_add_process %}
          {% if can_add_process %}
            <a href="{% url 'risk_register:creer_processus' business_unit=bu.denomination %}"
               class="fm-create text-info card-link"
               data-fm-head="{% trans 'Nouveau Processus' %}" data-fm-callback="insertProcess" data-fm-target="#create">
              <i class="fa fa-plus"></i> {% trans 'Nouveau processus' %}
            </a>
          {% endif %}
        </div>
      </div>
      <div role="tabpanel" class="tab-pane mt-3" id="risquesprocessus">
        <div class="table-responsive ">
          <table class="table table-hover table-sm text-center table-sortable" id="processusRisqueTable">
            <thead>
            <tr>
              <th class="ajoute">{% trans 'Ajouté' %}</th>
              <th>{% trans 'Processus' %}</th>
              <th>{% trans 'Type' %}</th>
              <th>{% trans 'Vérification' %}</th>
              <th>{% trans 'Seuil de risque' %}</th>
              <th>{% trans 'Facteur risque' %}</th>
              <th>{% trans 'Statut du risque' %}</th>
              <th>{% trans 'Propriétaire' %}</th>
              <th class="date-revue">{% trans 'Date de revue' %}</th>
            </tr>
            </thead>
            <tbody>
            {% for processusrisque in processusrisques %}
              <tr>
                <td>
                  <a href="{% url 'risk_register:detail_processusrisque' pk=processusrisque.pk %}" class="fm-detail"
                     data-fm-head="{{ processusrisque.risque.nom }}"
                     data-toggle="tooltip" data-placement="top" title="{% trans 'Détails du risque' %}">
                    {{ processusrisque.created|naturaltime }}
                  </a>
                </td>
                <td>
                  <a href="{% url 'risk_register:detail_processus' pk=processusrisque.processus.pk %}"
                     data-toggle="tooltip" data-placement="top" title="{% trans 'Détails du processus' %}">
                    {{ processusrisque.processus }}
                  </a>
                </td>
                <td>{{ processusrisque.get_type_de_risque_display }}</td>
                <td>
                  {% if processusrisque.verifie == 'verified' %}
                    {{ processusrisque.get_verifie_display }}<i class="text-success fa fa-check"></i>
                  {% else %}
                    <span class="text-danger">{{ processusrisque.get_verifie_display }}</span>
                  {% endif %}
                </td>
                <td class="{{ processusrisque.seuil_display }}">
                  <a href="{% url 'risk_register:definir_seuil_processusrisque' processusrisque=processusrisque.pk %}"
                     class="fm-update" data-fm-head="{% trans 'Définir le seuil de risque' %}" data-fm-callback="reload"
                     data-toggle="tooltip" data-placement="top" title="{% trans 'Définir le seuil de risque' %}">
                    {{ processusrisque.seuil_de_risque|default_if_none:_('Non defini') }}
                  </a>
                </td>
                <td>
                  <a href="{% url 'risk_register:estimer_processusrisque' processusrisque=processusrisque.pk %}"
                     class="fm-update" data-fm-head="{% trans 'Estimer le risque' %}" data-fm-callback="reload"
                     data-toggle="tooltip" data-placement="top" title="{% trans 'Estimer le risque' %}">
                    <span
                      class="{{ processusrisque.facteur_risque_display }}">{{ processusrisque.facteur_risque|default_if_none:_('Non estimé') }}</span>
                  </a>
                </td>
                <td class="{{ processusrisque.status_display }}">
                  {% blocktrans with status=processusrisque.status|default_if_none:_('inconnu') %}
                    {{ status }}
                  {% endblocktrans %}
                </td>
                <td>
                  <a href="{% url 'risk_register:assigner-processusrisque' processusrisque=processusrisque.pk %}"
                     class="fm-update" data-fm-head="{% trans 'Assigner le risque' %}" data-fm-callback="reload"
                     data-toggle="tooltip" data-placement="top" title="{% trans 'Assigner' %}">
                    {{ processusrisque.proprietaire|default_if_none:_('Non assigné') }}
                  </a>
                </td>
                <td>
                  <a href="{% url 'risk_register:revue-processusrisque' processusrisque=processusrisque.pk %}"
                     class="fm-update" data-fm-head="{% trans 'Date de revue du risque' %}" data-fm-callback="reload"
                     data-toggle="tooltip" data-placement="top" title="{% trans 'Changer' %}">
                    {% if processusrisque.est_obsolete %}
                      <span class="text-danger">{% trans passée %} {{ processusrisque.date_revue|naturaltime }}</span>
                    {% else %}
                      {% if processusrisque.date_revue %}
                        <span class="text-info">
                        {{ processusrisque.date_revue|naturaltime }}
                        </span>
                      {% else %}
                        <span class="text-danger">????</span>
                      {% endif %}

                    {% endif %}
                  </a>
                </td>
              </tr>
            {% empty %}
              <tr>
                <td colspan="10"><h5>{% trans 'Aucun risque identifié pour les processus de ce Business Unit' %}</h5>
                </td>
              </tr>
            {% endfor %}
            </tbody>

          </table>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane mt-3" id="risquesactivites">
        <div class="table-responsive">
          <table class="table table-hover table-sm text-center table-sortable" id="activiteRisqueTable">
            <thead>
            <tr>
              <th class="ajoute">{% trans 'Ajouté' %}</th>
              <th>{% trans 'Activités' %}</th>
              <th>{% trans 'Type' %}</th>
              <th>{% trans 'Vérification' %}</th>
              <th>{% trans 'Seuil de risque' %}</th>
              <th>{% trans 'Facteur risque' %}</th>
              <th>{% trans 'Statut du risque' %}</th>
              <th>{% trans 'Propriétaire' %}</th>
              <th class="date-revue">{% trans 'Date de revue' %}</th>
            </tr>
            </thead>
            <tbody>
            {% for activiterisque in activiterisques %}
              <tr>
                <td>
                  <a href="{% url 'risk_register:detail_activiterisque' pk=activiterisque.pk %}" class="fm-detail"
                     data-fm-head="{{ activiterisque.risque.nom }}"
                     data-toggle="tooltip" data-placement="top" title="{% trans 'Détails du risque' %}">
                    {{ activiterisque.created|naturaltime }}
                  </a>
                </td>
                <td>
                  <a href="{% url 'risk_register:detail_activite' pk=activiterisque.activite.pk %}">
                    {{ activiterisque.activite.nom }}
                  </a>
                </td>
                <td>{{ activiterisque.get_type_de_risque_display }}</td>
                <td>
                  {% if activiterisque.verifie == 'verified' %}
                    {{ activiterisque.get_verifie_display }} <span class="text-success fa fa-check"></span>
                  {% else %}
                    <span class="text-danger">{{ activiterisque.get_verifie_display }}</span>
                  {% endif %}
                </td>
                <td class="{{ activiterisque.seuil_display }}">
                  <a href="{% url 'risk_register:definir_seuil_activiterisque' activiterisque=activiterisque.pk %}"
                     class="fm-update" data-fm-head="{% trans 'Définir le seuil de risque' %}" data-fm-callback="reload"
                     data-toggle="tooltip" data-placement="top" title="{% trans 'Définir le seuil de risque' %}">
                    {{ activiterisque.seuil_de_risque|default_if_none:_('Non defini') }}
                  </a>
                </td>
                <td class="{{ activiterisque.facteur_risque_display }}">
                  <a href="{% url 'risk_register:estimer_activiterisque' activiterisque=activiterisque.pk %}"
                     class="fm-update" data-fm-head="{% trans 'Estimer le risque' %}" data-fm-callback="reload"
                     data-toggle="tooltip" data-placement="top" title="{% trans 'Estimer le risque' %}">
                    {{ activiterisque.facteur_risque|default_if_none:_('Non estime') }}
                  </a>
                </td>
                <td class="{{ activiterisque.status_display }}">
                  {% blocktrans with status=activiterisque.status|default_if_none:_('inconnu') %}
                    {{ status }}
                  {% endblocktrans %}
                </td>
                <td>
                  <a href="{% url 'risk_register:assigner-activiterisque' activiterisque=activiterisque.pk %}"
                     class="fm-update" data-fm-head="{% trans 'Assigner le risque' %}" data-fm-callback="reload"
                     data-toggle="tooltip" data-placement="top" title="{% trans 'Assigner' %}">
                    {{ activiterisque.proprietaire|default_if_none:_('Non assigné') }}
                  </a>
                </td>
                <td>
                  <a href="{% url 'risk_register:revue-activiterisque' activiterisque=activiterisque.pk %}"
                     class="fm-update" data-fm-head="{% trans 'Date de revue du risque' %}" data-fm-callback="reload"
                     data-toggle="tooltip" data-placement="top" title="{% trans 'Changer' %}">
                    {% if activiterisque.est_obsolete %}
                      <span class="text-danger">{% trans 'passée' %} {{ activiterisque.date_revue| naturaltime }}</span>
                    {% else %}
                      {% if activiterisque.date_revue %}
                        <span class="text-success">{{ activiterisque.date_revue|naturaltime }}</span>
                      {% else %}
                        <span class="text-danger">????</span>
                      {% endif %}
                    {% endif %}
                  </a>
                </td>
              </tr>
            {% empty %}
              <tr>
                <td colspan="10"><h5>{% trans 'Aucun risque identifié pour les activités de ce Business Unit' %}</h5>
                </td>
              </tr>
            {% endfor %}
            </tbody>

          </table>
        </div>
      </div>
    </div>
  {% endblock %}
{% endblock %}
