{% load i18n %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a
      href="{% url 'risk_register:detail_business_unit' pk=processus.business_unit.denomination %}">
      {% if processus.business_unit.projet %}
        {% trans 'Projet' %}
      {% else %}
        {% trans 'Business Unit' %}
      {% endif %}
    </a>
    </li>
    <li class="breadcrumb-item active h5" aria-current="page">{% trans 'Processus' %}</li>
  </ol>
</nav>
<div class="card mb-4" style="border-color:#00a5e3;">
  <div class="card-header text-white" style="background-color:#00a5e3;">
    <a href="{% url 'risk_register:effacer_processus' pk=processus.pk %}" class="fm-delete" data-fm-callback="redirect"
       data-fm-head="{% trans 'Supprimer un processus' %}"
       data-fm-target="{% url 'risk_register:detail_business_unit' pk=processus.business_unit.pk %}">
      <span data-feather="trash-2" class="float-sm-right text-white ml-2"></span>
    </a>
    <a href="{% url 'risk_register:modifier_processus' pk=processus.pk %}" class="fm-update" data-fm-callback="reload"
       data-fm-head={% trans "Modifier un processus" %}>
      <span data-feather="edit-3" class="float-sm-right text-white"></span>
    </a>
    <h4 class="card-title">
      {{ processus.nom }}
    </h4>
    <p class="lead">{{ processus.description }}</p>
    <a href="#detail" data-toggle="collapse"><span data-feather="more-horizontal" class="text-white float-right"></span></a>
  </div>
  <div class="card-footer collapse" id="detail">

    <dl class="row">
      <dt class="col-sm-3">{% trans 'Business Unit' %}:</dt>
      <dd class="col-sm-9">{{ processus.business_unit }}</dd>
      <dt class="col-sm-3">{% trans 'Type' %}:</dt>
      <dd class="col-sm-9">{{ processus.get_type_processus_display }}</dd>
      <dt class="col-sm-3">{% trans 'Manager' %}:</dt>
      <dd class="col-sm-9">
        <a href="mailto:{{ processus.proc_manager.email }}">{{ processus.proc_manager }}</a><br>
      </dd>
    </dl>
  </div>
</div>
