{% load i18n %}
<div class="card mt-3">
  <div class="card-header">
    <a class="card-link float-right" data-toggle="collapse" href="#{{ processus.pk }}-activities">
      <span data-feather="more-horizontal" class="text-info"></span>
    </a>
    <a href="{% url 'risk_register:detail_processus' pk=processus.code_processus %}"
       class="card-link h5">{{ processus.nom }}: {{ processus.description|truncatechars:50 }}</a>
    <br>

  </div>
  <div id="{{ processus.pk }}-activities" class="collapse">
      {% for activite in processus.activites.all %}
        {% include 'risk_register/activity_card.html' %}
        {% empty %}
        <p class="lead ml-2">{% trans 'Ce processus ne comporte aucune activité' %}</p>
      {% endfor %}
    <div class="card card-body ml-4 mt-4 mb-2 p-1 border-0" id="create-activity-2">
      <a href="{% url 'risk_register:creer_activite' processus=processus.pk %}" class="text-info card-link fm-create"
         data-fm-head="{% trans 'Nouvelle activité' %}" data-fm-callback="insertProcess" data-fm-target="#">
        <span data-feather="plus-circle"></span> {% trans 'Nouvelle activité' %}
      </a>
    </div>
  </div>
</div>
