{% extends "risk_register/base.html" %}
{% load static i18n %}
{% block title %}{% trans 'utilisateurs' %}{% endblock %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active h5" aria-current="page">{% trans 'Utilisateurs' %}</li>
    </ol>
  </nav>
  <div class="container">

    <div class="list-group mt-3">
      {% for user in user_list %}
        <a href="{% url 'users:detail' user.username %}" class="list-group-item">
          <h4 class="list-group-item-heading">{{ user }}</h4>
        </a>
      {% endfor %}
    </div>
  </div>
{% endblock content %}
