{% extends "risk_register/base.html" %}
{% load static i18n humanize %}

{% block title %}{{ employe.get_username }}{% endblock %}

{% block content %}
  {% block header %}
    {% include 'users/user_header.html' %}
  {% endblock %}
  <ul class="nav nav-tabs nav-justified">
    {% if employe.activiterisques_manages.all or employe.processusrisques_manages.all %}
      <li class="nav-item">
        <a href="#my-risks" class="nav-link active show" role="tab" data-toggle="tab">{% trans 'Risques assignés' %}</a>
      </li>
    {% endif %}
    {% if employe.traitements_assignes.all %}
      <li class="nav-item">
        <a href="#my-controls" class="nav-link" role="tab" data-toggle="tab">{% trans 'Contrôles assignés' %}</a>
      </li>
    {% endif %}
    <li class="nav-item">
      <a href="#followed-risks" class="nav-link" role="tab" data-toggle="tab">{% trans 'Risques suivis' %}</a>
    </li>
    {% if employe.processus_manages.all %}
      <li class="nav-item">
        <a href="#my-processes" class="nav-link" role="tab" data-toggle="tab">{% trans 'Processus managés' %}</a>
      </li>
    {% endif %}
    {% if employe.activites.all %}
      <li class="nav-item">
        <a href="#my-activities" class="nav-link" role="tab" data-toggle="tab">{% trans 'Activités' %}</a>
      </li>
    {% endif %}
  </ul>
  {% block data %}
    <div class="tab-content">
      <div class="tab-pane mt-3 active" role="tabpanel" id="my-risks">
        {% for identified_risk in my_risks %}
          <div class="card mb-3">
            <div class="card-header">
              <a class="card-link float-right text-info" data-toggle="collapse"
                 href="#controles-{{ identified_risk.pk }}-0">
                {% trans 'Contrôles' %} <i class="fa fa-ellipsis-h"></i>
              </a>
              {% if identified_risk.type_de_risque == 'O' %}
                <strong
                  class="text-success ml-2 mr-2">{{ identified_risk.get_type_de_risque_display | capfirst }}</strong>
              {% else %}
                <strong
                  class="text-danger ml-2 mr-2">{{ identified_risk.get_type_de_risque_display | capfirst }}</strong>
              {% endif %}
              <span style="white-space: nowrap;">
                <strong id="status-risk-{{ identified_risk.pk }}-0"
                      class="confirm-risk d-inline-block"
                      data-check-url="{% url 'risk_register:ajax-statut-risque' pk=identified_risk.pk %}"
                      data-change-url="{% url 'risk_register:ajax-changer-statut-risque' pk=identified_risk.pk %}">
              {% csrf_token %}</strong>
              </span>

            </div>
            <div class="card-body">
              <a href="
                   {% if identified_risk.get_class == 'ProcessusRisque' %}
                     {% url 'risk_register:modifier_processusrisque' processusrisque=identified_risk.pk %}
                   {% else %}
                     {% url 'risk_register:modifier_activiterisque' activiterisque=identified_risk.pk %}
                   {% endif %}"
                 class="fm-update card-title h5" data-fm-head="{% trans 'Modifier un risque' %}"
                 data-fm-callback="reload">{{ identified_risk.risque.nom }}</a><br>
              <span class="text-muted">{% trans 'Ajouté' %} {{ identified_risk.created | naturaltime }} {% trans 'par' %} {{ identified_risk.soumis_par }}</span>
              <p>{{ identified_risk.risque.description|truncatechars:150 }}</p>
              <div class="row mt-2">
                <div class="col-sm-12 col-md-2">
                  <h6 class="mb-0">{% trans 'Seuil de risque' %}</h6>
                  <a href="
                   {% if identified_risk.get_class == 'ProcessusRisque' %}
                     {% url 'risk_register:definir_seuil_processusrisque' processusrisque=identified_risk.pk %}
                   {% else %}
                     {% url 'risk_register:definir_seuil_activiterisque' activiterisque=identified_risk.pk %}
                   {% endif %}"
                     class="text-info fm-create" style="text-decoration: none;"
                     data-fm-head="{% trans 'Définir le seuil de risque' %}"
                     data-fm-callback="reload">
                    <i class="mr-2 fa fa-sliders"></i>
                  </a>
                  <span class="{{ identified_risk.seuil_display }}">
           {{ identified_risk.seuil_de_risque|default_if_none:_('Non defini') }}
        </span>
                </div>
                <div class="col-sm-12 col-md-2">
                  <h6 class="mb-0">{% trans 'Facteur risque' %}</h6>
                  <a href="
                   {% if identified_risk.get_class == 'ProcessusRisque' %}
                     {% url 'risk_register:estimer_processusrisque' processusrisque=identified_risk.pk %}
                   {% else %}
                     {% url 'risk_register:estimer_activiterisque' activiterisque=identified_risk.pk %}
                   {% endif %}"
                     class="text-info fm-create" style="text-decoration: none;"
                     data-fm-head="{% trans 'Estimer le risque' %}" data-fm-callback="reload">
                    <i class="mr-2 fa fa-sliders"></i>
                  </a>
                  <span class="{{ identified_risk.facteur_risque_display }}">
          {{ identified_risk.facteur_risque|default_if_none:_('Non defini') }}
        </span>
                </div>
                <div class="col-sm-12 col-md-2">
                  <h6 class="mb-0">{% trans 'Statut du risque' %}</h6>
                  <span class="{{ identified_risk.status_display }}">
                  {% blocktrans with status=identified_risk.status|default_if_none:'Inconnu' %}
                    <i class="mr-2 fa fa-thermometer"></i>{{ status }}
                  {% endblocktrans %}
                </span>
                </div>
                <div class="col-md-2 col-sm-12">
                  <h6 class="mb-0">{% trans 'Date de revue' %}</h6>
                  <a href="
                   {% if identified_risk.get_class == 'ProcessusRisque' %}
                     {% url 'risk_register:revue-processusrisque' processusrisque=identified_risk.pk %}
                   {% else %}
                     {% url 'risk_register:revue-activiterisque' activiterisque=identified_risk.pk %}
                   {% endif %}"
                     class="text-info fm-update" style="text-decoration: none;"
                     data-fm-head="{% trans 'Définir la date de revue du risque:' %}"
                     data-fm-callback="reload"> <i class="mr-2 fa fa-calendar"></i>
                  </a>

                  {{ identified_risk.date_revue | naturaltime  | default_if_none:_('Non défini ') }}
                  {% if identified_risk.est_obsolete %}
                    <span class="mr-2 text-danger">{% trans 'Le risque est obsolète' %}</span>
                  {% endif %}
                </div>
              </div>
            </div>
            <div id="controles-{{ identified_risk.pk }}-0" class="collapse">

              <h5 class="ml-4">{% trans 'Contrôles' %}</h5>
              {% for controle in identified_risk.controles.all %}
                {% include 'risk_register/controle_card.html' %}
              {% empty %}
                <p class="lead ml-4">{% trans 'Ce risque ne comporte aucun contrôle' %}</p>
              {% endfor %}
              <div class="m-4 mb-2 mt-2 p-1 ">
                <a href="
                   {% if identified_risk.get_class == 'ProcessusRisque' %}
                     {% url 'risk_register:ajout_controle_processusrique' processusrisque=identified_risk.pk %}
                   {% else %}
                     {% url 'risk_register:ajout_controle_activiterisque' activiterisque=identified_risk.pk %}
                   {% endif %}"
                   class="text-info card-link fm-create"
                   data-fm-head="{% trans 'Ajouter un contrôle' %}" data-fm-callback="reload">
                  <i class="fa fa-plus"></i> {% trans 'Nouveau contrôle' %}
                </a>
              </div>
            </div>
          </div>
        {% empty %}
          <span class="empty"></span>
        {% endfor %}

      </div>
      <div class="tab-pane mt-3" role="tabpanel" id="followed-risks">
        {% for followed_risk in followed_risks %}
          {% if followed_risk.get_class == 'ProcessusRisque' %}
            {% include 'risk_register/processusrisque_card.html' with processusrisque=followed_risk %}
          {% elif followed_risk.get_class == 'ActiviteRisque' %}
            {% include 'risk_register/activiterisque_card.html' with activiterisque=followed_risk %}
          {% endif %}
        {% empty %}
          <span class="empty"></span>
        {% endfor %}

      </div>
      <div class="tab-pane mt-3" role="tabpanel" id="my-controls">
          {% for controle in employe.traitements_assignes.all %}
           {% if controle.est_approuve %}
            {% include 'users/user_control_card.html' %}
           {% endif %}
          {% empty %}
            <span class="empty"></span>
          {% endfor %}
      </div>
      <div class="tab-pane mt-3" role="tabpanel" id="my-processes">
        {% for processus in employe.processus_manages.all %}
          {% include 'risk_register/process_card.html' %}
        {% empty %}
          <span class="empty"></span>
        {% endfor %}

      </div>
      <div class="tab-pane m-t3" role="tabpanel" id="my-activities">
        {% for activite in employe.activites.all %}
          {% include 'risk_register/activity_card.html' %}
        {% empty %}
          <span class="empty"></span>
        {% endfor %}

      </div>
    </div>

  {% endblock %}
{% endblock content %}
