{% load i18n %}
{% load static %}
{% load fm_tags %}
<div role="dialog" aria-hidden="true" id="fm-modal" class="fm-modal modal fade" style="overflow: auto">
  <div class="modal-loader" style="display: none;">
    <img class="modal-loader-img" src="{% static "fm/img/loading-bars.svg" %}">
  </div>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div data-dismiss="modal" class="close-modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <div class="modal-wrapper" style="display: none;">
              <div class="modal-head"></div>
              <div class="modal-body" id="select2-parent"></div>
              <div class="modal-buttons">
                <button class="btn btn-primary" type="submit">
                  {% trans 'OK' %}
                </button>
                <button data-dismiss="modal" class="btn btn-default" type="button"><i class="fa fa-times"></i>
                  {% trans 'Annuler' %}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<link rel="stylesheet" href="{% static "fm/css/modal.css" %}?v={% fm_version %}"/>
<script type="text/javascript" src="{% static "fm/js/fm.js" %}"></script>
<script>
  $('#fm-modal').on('shown.bs.modal', function () {
    var risque = $('#id_risque');
    var user = $('#id_proprietaire');
    if(risque){
      if(risque.val()){
      var url = '/risk-register/risk-detail/' + risque.val() + '/';
      $.get(url, function (data, status) {
        if(status==='success'){
          $('#detail-risque').html(data);
        }
        else {
          $('#detail-risque').html('');
        }
      });
    }
    risque.on('change', function (e) {
       if(risque.val().length){
         var url = '/risk-register/risk-detail/' + risque.val() + '/';
         $.get(url, function (data, status){
           if(status==='success'){
              $('#detail-risque').html(data);
           }
           else {
             $('#detail-risque').html('');
           }
         });
       }
    });
    risque.on('select2:unselecting', function () {
        $('#detail-risque').html('');
    });
    }

    if (user){
      if (user.val()){
        var infoUrl = '/users/user-info/' + user.val() + '/';
        $.get(infoUrl, function (data, status) {
          if (status==='success'){
            $('#user-info').html(data);
          }
          else {
            $('#user-info').html('')
          }
        });
      }
      user.on('change', function (e) {
        if (user.val()){
          var info = '/users/user-info/' + user.val() + '/';
          $.get(info, function (data, status) {
          if (status==='success'){
            $('#user-info').html(data);
          }
          else {
            $('#user-info').html('')
          }
        });
        }
      });
      user.on('select2:unselecting', function () {
        $('#user-info').html('');
    });
    }

  });
</script>


